USE [DoAn]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameBrands] [nvarchar](200) NOT NULL,
	[ImageBrands] [nvarchar](500) NULL,
	[Active] [bit] NULL,
	[Describe] [nvarchar](max) NULL,
	[Address] [nvarchar](200) NULL,
	[ChiNhanh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[UserId] [int] NULL,
	[ProductId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CtName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](13) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Content] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NULL,
	[UserId] [int] NULL,
	[PaymentId] [int] NOT NULL,
	[CustomerName] [nvarchar](200) NULL,
	[Address] [nvarchar](500) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](13) NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PayName] [nvarchar](100) NOT NULL,
	[Describe] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImage]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImagePath] [nvarchar](max) NULL,
	[IsDefault] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[ProductId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](200) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[Origin] [nvarchar](100) NULL,
	[TGPH] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[ApplyForAll] [bit] NOT NULL,
	[DiscountPercent] [float] NULL,
	[DiscountAmount] [float] NULL,
	[ProductId] [int] NULL,
	[BrandId] [int] NULL,
	[ProName] [nvarchar](200) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/1/2025 5:10:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](200) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Fullname] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[Note] [nchar](20) NULL,
	[Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (1, N'Mens')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (2, N'Womens')
INSERT [dbo].[Categories] ([Id], [CategoryName]) VALUES (3, N'Unisex')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([Id], [Title], [Content], [CreateDate], [UserId], [ProductId]) VALUES (3, N'a', N'hay', CAST(N'2025-05-29T02:37:47.180' AS DateTime), 4, 18)
INSERT [dbo].[Comments] ([Id], [Title], [Content], [CreateDate], [UserId], [ProductId]) VALUES (4, N'b', N'nước hoa thơm
', CAST(N'2025-05-29T03:06:27.020' AS DateTime), 1, 18)
INSERT [dbo].[Comments] ([Id], [Title], [Content], [CreateDate], [UserId], [ProductId]) VALUES (5, N'ádasdas', N'ádasdasda', CAST(N'2025-05-30T20:22:05.423' AS DateTime), 7, 17)
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Id], [CtName], [Email], [Phone], [Address], [Content]) VALUES (1, N'Hoàng Chí Chung', N'hoangchung@gmail.com', N'0332967513', N'Thái Bình', N'abc')
INSERT [dbo].[Contact] ([Id], [CtName], [Email], [Phone], [Address], [Content]) VALUES (2, N'Nguyễn Mộc Châu', N'mocchau123@gmail.com', N'0326494744', N'Mộc Châu', N'Cần được hỗ trợ về vấn đề đổi trả hàng')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (4, 3, 30, 2, CAST(1520 AS Decimal(10, 0)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (5, 4, 32, 2, CAST(228 AS Decimal(10, 0)))
INSERT [dbo].[OrderDetail] ([Id], [OrderId], [ProductId], [Quantity], [Price]) VALUES (6, 4, 35, 5, CAST(235 AS Decimal(10, 0)))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [PaymentId], [CustomerName], [Address], [Email], [Phone], [Status]) VALUES (3, CAST(N'2025-05-26T00:00:00.000' AS DateTime), 1, 2, N'Hoàng Chí Chung', N'Thái Bình', N'hoangchung1107@gmail.com', N'0464316', 1)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [PaymentId], [CustomerName], [Address], [Email], [Phone], [Status]) VALUES (4, CAST(N'2025-05-26T00:00:00.000' AS DateTime), 5, 2, N'Nguyễn Đình Ca', N'Thái Nguyên', N'cadinh113@gmail.com', N'046132164', 1)
INSERT [dbo].[Orders] ([Id], [OrderDate], [UserId], [PaymentId], [CustomerName], [Address], [Email], [Phone], [Status]) VALUES (7, CAST(N'2025-05-30T00:00:00.000' AS DateTime), NULL, 1, N'Nguyễn Lào Cai', N'Lào Cai', N'laocai123@gmail.com', N'0146943174', 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([Id], [PayName], [Describe]) VALUES (1, N'Thanh toán tiền mặt', N'Khi bạn nhận hàng thanh toán tiền cho shipper')
INSERT [dbo].[Payment] ([Id], [PayName], [Describe]) VALUES (2, N'Thanh toán qua thẻ', N'Chuyển khoản qua stk: 0332967513 MB Bank')
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImage] ON 

INSERT [dbo].[ProductImage] ([Id], [ImagePath], [IsDefault], [CreateDate], [ProductId]) VALUES (31, N'af3.png', 1, CAST(N'2025-05-24T13:24:39.597' AS DateTime), 17)
INSERT [dbo].[ProductImage] ([Id], [ImagePath], [IsDefault], [CreateDate], [ProductId]) VALUES (32, N'af3_1.png', 0, CAST(N'2025-05-24T13:26:23.343' AS DateTime), 17)
INSERT [dbo].[ProductImage] ([Id], [ImagePath], [IsDefault], [CreateDate], [ProductId]) VALUES (33, N'af3_2.png', 0, CAST(N'2025-05-24T13:26:38.103' AS DateTime), 17)
GO
SET IDENTITY_INSERT [dbo].[ProductImage] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotions] ON 

INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [ProductId], [BrandId], [ProName], [Active]) VALUES (6, CAST(N'2025-05-08T10:28:00.000' AS DateTime), CAST(N'2025-05-30T10:28:00.000' AS DateTime), 0, 30, NULL, NULL, NULL, N'Khuyến mại 30%', 0)
INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [ProductId], [BrandId], [ProName], [Active]) VALUES (7, CAST(N'2025-06-01T10:28:00.000' AS DateTime), CAST(N'2025-06-30T10:28:00.000' AS DateTime), 0, 20, NULL, NULL, 14, N'Khuyến mại 20%', 1)
INSERT [dbo].[Promotions] ([Id], [FromDate], [ToDate], [ApplyForAll], [DiscountPercent], [DiscountAmount], [ProductId], [BrandId], [ProName], [Active]) VALUES (9, CAST(N'2025-05-31T20:53:00.000' AS DateTime), CAST(N'2025-06-30T20:53:00.000' AS DateTime), 0, NULL, 100, 60, NULL, N'Khuyến mại 100', 1)
SET IDENTITY_INSERT [dbo].[Promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Note], [Active]) VALUES (1, N'chunghoang', N'123', N'Hoàng Chí Chung', N'hoangchung1107@gmail.com', N'Member              ', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Note], [Active]) VALUES (3, N'AdminNho', N'chunghoang', N'Hoàng Chí Chung', N'hoangchung1107@gmail.com', N'Admin               ', 1)
INSERT [dbo].[Users] ([Id], [Username], [Password], [Fullname], [Email], [Note], [Active]) VALUES (4, N'hungnguyen1010', N'123', N'Nguyễn Đức Hùng', N'hungnguyen1010@gmail.com', N'Member              ', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [Fk_Cm_Pr] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [Fk_Cm_Pr]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [Fk_Cm_Us] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [Fk_Cm_Us]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [Fk_Odt_Od] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [Fk_Odt_Od]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [Fk_Odt_Pr] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [Fk_Odt_Pr]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Fk_Od_Pm] FOREIGN KEY([PaymentId])
REFERENCES [dbo].[Payment] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Fk_Od_Pm]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Fk_Od_us] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Fk_Od_us]
GO
ALTER TABLE [dbo].[ProductImage]  WITH CHECK ADD  CONSTRAINT [Fk_PrI_Pr] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImage] CHECK CONSTRAINT [Fk_PrI_Pr]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [Fk_Pr_Br] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [Fk_Pr_Br]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [Fk_Pr_Ct] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [Fk_Pr_Ct]
GO
